<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Create Category</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <label for="cat_desc">Description</label>
        <input type="text" class="form-control" id="cat_desc" ng-model="item.cat_desc" placeholder="Description" required />
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Yes</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">No</button>
</div>
