<h2>Accounts</h2>
<div ng-controller="clientAccountsIndexController">
    <br />
    <div class="row">
        <div class="col-md-1"><button class="btn btn-warning" ng-click="newBtnClicked()">New</button></div>        
    </div>
    <br />
    <table class="table table-hover table-striped">
        <thead>
            <tr>     
                <th rowspan="2">ID</th>
                <th style="cursor:pointer" ng-click="doSortBy('acct_name')"><i ng-class="sortIcon('acct_name')"></i>Account Name</th>
                <th style="cursor:pointer" ng-click="doSortBy('acct_city')"><i ng-class="sortIcon('acct_city')"></i>City</th>
                <th style="cursor:pointer" ng-click="doSortBy('acct_state')"><i ng-class="sortIcon('acct_state')"></i>State/Province</th>
            </tr>
            <tr>
                <th><input type="text" ng-model="param.acct_name" ng-change="filterChanged()" /></th>
                <th><input type="text" ng-model="param.acct_city" ng-change="filterChanged()" /></th>
                <th><input type="text" ng-model="param.acct_state" ng-change="filterChanged()" /></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">                
                <td width="100px"><span style="cursor:pointer" ng-click="editBtnClicked(item)">{{item.id}}</span></td>
                <td>{{item.acct_name}}</td>
                <td>{{item.acct_city}}</td>
                <td>{{item.acct_state}}</td>                
            </tr>
        </tbody>
    </table>
    <ul uib-pagination class="pagination-sm" total-items="total" items-per-page="param.PageSize" num-pages="numberPages" ng-model="param.PageNumber" ng-change="pageChanged()" 
        max-size="maxSize" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
</div>