<div ng-controller="brandController">
    
    <br/>
    <br/>
    <br/>
    
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="">Brand Id</label>
                <input type="text" class="form-control" ng-model="brand.id" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Brand Name</label>
                <input type="text" class="form-control" ng-model="brand.brand_name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Company Location</label>
                <input type="text" class="form-control" ng-model="brand.brand_location">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Logo</label>
                <input type="text" class="form-control" ng-model="brand.brand_logo">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Company Address 1</label>
                <input type="text" class="form-control" ng-model="brand.brand_address1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Company Address 2</label>
                <input type="text" class="form-control" ng-model="brand.brand_address2">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">City</label>
                <input type="text" class="form-control" ng-model="brand.brand_city">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">State, Region or Province</label>
                <input type="text" class="form-control" ng-model="brand.brand_state">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Zip or Postal Code</label>
                <input type="text" class="form-control" ng-model="brand.brand_zip">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Country</label>
                <input type="text" class="form-control" ng-model="brand.brand_country">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Telephone Number</label>
                <input type="text" class="form-control" ng-model="brand.brand_tel">
            </div>
        </div>
    </div>
    
    <br />
    <div class="row">
        <div class="col-md-1"><button class="btn btn-default" ng-click="cancel()">Cancel</button></div>
        <div class="col-md-1"><button class="btn btn-primary" ng-click="save()">Save</button></div>
    </div>

</div>