<div ng-controller="quoteIndexController">
    <h2>Pack Quotes</h2>
    <br/>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="">Search By</label>
                <select type="text" class="form-control" ng-model="selectedSearchBy"
                        ng-options="option.display for option in searchByList track by option.value"></select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Keywords</label>
                <input type="text" class="form-control" ng-model="keywords" ng-change="filterChanged()"/>
            </div>
        </div>
    </div>
    
    <br />
    <div class="row">
        <div class="col-md-1"><button class="btn btn-primary" ng-click="newBtnClicked()">Create New</button></div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th style="cursor:pointer" ng-click="doSortBy('qn_basis')"><i ng-class="sortIcon('qn_basis')"></i>Quote No</th>
                <th style="cursor:pointer" ng-click="doSortBy('name')"><i ng-class="sortIcon('name')"></i>Name</th>
                <th style="cursor:pointer" ng-click="doSortBy('acct_name')"><i ng-class="sortIcon('acct_name')"></i>Account Name</th>
                <th style="cursor:pointer" ng-click="doSortBy('tray_no')"><i ng-class="sortIcon('tray_no')"></i>Tray</th>
                <th style="cursor:pointer" ng-click="doSortBy('fg_num')"><i ng-class="sortIcon('fg_num')"></i>FG #</th>
                <th style="cursor:pointer" ng-click="doSortBy('status')"><i ng-class="sortIcon('status')"></i>Status</th>
                <th rowspan="2">Rev</th>                
            </tr>            
            <tr>
                <th><input size="10" type="text" ng-model="param.qn_basis" ng-change="filterChanged()" /></th>
                <th><input type="text" ng-model="param.name" ng-change="filterChanged()" /></th>
                <th><input type="text" ng-model="param.acct_name" ng-change="filterChanged()" /></th>                
                <th><input type="text" ng-model="param.tray_no" ng-change="filterChanged()" /></th>            
                <th><input type="text" ng-model="param.fg_num" ng-change="filterChanged()" /></th>      
                <th><input type="text" ng-model="param.qtstatus_desc" ng-change="filterChanged()" /></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="busy">
                <td colspan="6">
                    <uib-progressbar class="progress-striped active" value="100" >Please wait...</uib-progressbar>
                </td>                
            </tr>           
            <tr ng-repeat="item in items" ng-hide="busy" ng-class="item.qthdr_template? 'danger': ''">
                <td width="100px">
                    <span style="cursor:pointer" ng-click="editBtnClicked(item)">
                        {{item.qthdr_qn_basis}}-{{item.qthdr_rev}}
                    </span>
                </td>
                <td>{{item.qthdr_name}}</td>
                <td>{{item.tbl_acct.acct_name}}</td>
                <td>{{item.qthdr_tray_no}}</td>
                <td>{{item.qthdr_fg_num}}</td>
                <td>{{item.tbl_qtstatus.qtstatus_desc}}</td>
                <td>{{item.qthdr_rev}}</td>                
            </tr>
        </tbody>
    </table>
    <ul uib-pagination class="pagination-sm" total-items="total" items-per-page="param.PageSize" num-pages="numberPages" ng-model="param.PageNumber" ng-change="pageChanged()"
        max-size="maxSize" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
</div>