<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Component</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th style="cursor:pointer" ng-click="doSortBy('desc')"><i ng-class="sortIcon('desc')"></i>Description (original)</th>
                    <th style="cursor:pointer" ng-click="doSortBy('vendor')"><i ng-class="sortIcon('vendor')"></i>Vendor Name</th>
                    <th style="cursor:pointer" ng-click="doSortBy('vendorPart')"><i ng-class="sortIcon('vendorPart')"></i>Vendor / Supplier PN</th>
                </tr>
                <tr>
                    <th><input type="text" ng-model="param.desc" ng-change="filterChanged()" /></th>
                    <th><input type="text" ng-model="param.vendor" ng-change="filterChanged()" /></th>
                    <th><input type="text" ng-model="param.vendorPart" ng-change="filterChanged()" /></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td><input type="radio" name="items" ng-click="setSelected(item)" /></td>
                    <td>{{item.comp_desc_orig}}</td>
                    <td>{{item.tbl_vend.vend_child_name}}</td>
                    <td>{{item.comp_vend_pn}}</td>
                </tr>
            </tbody>
        </table>
        <ul uib-pagination class="pagination-sm" total-items="total" items-per-page="param.PageSize" ng-model="param.PageNumber" ng-change="pageChanged()"
            max-size="5" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
